.sidebarFilters
  .filterContentArea
  .filterDropdown
  .dropdownPanel
  .checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 5px;
}

.sidebarFilters
  .filterContentArea
  .filterDropdown
  .dropdownPanel
  .checkboxGroup
  .checkboxItem {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 13px;
  color: #333;
}

.sidebarFilters
  .filterContentArea
  .filterDropdown
  .dropdownPanel
  .checkboxGroup
  .checkboxItem
  input[type="checkbox"] {
  width: 17px;
  height: 17px;
  cursor: pointer;
  accent-color: var(--gold);
}

.sidebarFilters .filterContentArea .filterDropdown {
  border-bottom: 1px solid #f9f9f9;
}

.sidebarFilters .filterContentArea .filterDropdown:last-child {
  border-bottom: none;
}
/* تنظیم اختصاصی برای پنل‌های طولانی مثل شرکت‌های هواپیمایی */
.sidebarFilters
  .filterContentArea
  .filterDropdown
  .dropdownPanel#airlineContent.open {
  max-height: 500px; /* یا مقدار دلخواه برای نمایش تمام گزینه‌ها */
  overflow-y: auto; /* اگر لیست خیلی طولانی شد اسکرول بخورد */
}